{{define "body"}}
    <!doctype html>
    <html lang="">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
    </head>
    <body>
        <p>Hello:</p>
        <p>You recently requested a link to reset your password.</p>
        <p>Click on the link below to get started:</p>
        <p><a href="{{.Link}}"></a></p>
        <p>--<br>
            Widgets Co.
        </p>
    </body>
    </html>
{{end}}